.wrapper {
    background-color: #F3F3F3;
}

.ava-header {
    margin: 60px auto;
}

.chat-container {
    width: 500px !important;
}

.send-button {
    margin: 10px 0 10px auto;
}

.chat-window {
    height: 400px;
    width: 100%;
    border: solid 1px #AAA;
    border-radius: 5px;
    background-color: #FFFFFF;
    overflow-y:scroll;
}

.dialogue {
    margin: 5px;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 10px;
}

.bot-text {
    border-top-left-radius: 0;
    background-color: #6ADF62;
    margin-left: 20px;
}

.client-text {
    border-top-right-radius: 0;
    margin-left: auto;
    background-color: #D662DF;
    margin-right: 20px;
}

.input-group {
    margin-top: 20px;
}
