.ava-header {
    margin: 10px auto;
}

.chat-container {
    width: 500px !important;
}

.send-button {
    margin: 10px 0 10px auto;
}

.chat-window {
    height: 500px;
    width: 100%;
    border: solid 1px #AAA;
    border-radius: 5px;
}

.dialogue {
    padding: 10px;
}

.ava-text {
    margin-left: 20px;
}

.client-text {
    margin-left: auto;
    margin-right: 20px;
}
